nohup.out
_pycache_/
.idea/
my_hyp.h5
.idea/workspace.xml
.idea/workspace.xml
*.xml
.idea/workspace.xml
*.xml
__pycache__/temp_model.cpython-36.pyc
*.pyc
__pycache__/temp_model.cpython-36.pyc
*.xml
*.xml
Transfer_CBOW_DNN_hyp.h5
*.h5
